%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Datei
      %th
      - unless @unset_controls
        %th
  %tbody
    - @user_files.each do |user_file|
      %tr
        %td= user_file.name
        %td
          %span.fa{class: icon_for_file(user_file.orig)}
          %code= user_file.orig.to_s[/[^\/]+$/]
        %td
          %span.label.label-default= time_ago_in_words user_file.created_at
        - unless @unset_controls
          %td
            = link_to 'Bearbeiten', edit_user_file_path(user_file), class: 'btn btn-default'
            = link_to 'Entfernen', user_file, :method => :delete, 
              :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
